#loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader.is-active {
    opacity: 1;
    z-index: 1;
}

#loader .is-loading {
    position: relative;
}

#loader .loader {
    height: 40px;
    width: 40px;
}

.ocrd-status {
    width: 40px;
    border: 0px;
}